@use './common.scss' as *;

#wrap {
    main {
        @include test-bg1;
        .container {
            @include test-bg2;
            @include contents-w; padding: 50px 40px;
            @include flex-row; justify-content: space-between;
            .overview_img {
                .overview {
                    position: relative; margin-bottom: 20px;
                    .arrow {
                        @include arrow; position: absolute;
                        display: none; //가리기(커서 대면 나옴)
                    }
                    .left_arrow{top: 406px; left: 16px;}
                    .right_arrow{transform: scaleX(-1);top: 406px; right: 16px;}
                    .overview_pic {
                        @include thumbnail-l;
                        img{@include img100Percent; border-radius: 15px;}
                    }
                }
                .thumbnails {
                    @include flex-row; gap: 8px;
                    a {
                        @include thumbnail-s;
                        * {@include img100Percent; border-radius: 15px;}
                    }
                }
            }
            .contents {
                @include test-bg3;
                @include flex-col; gap: 36px; width: 700px; 
                .product_info {
                    @include flex-col; gap: 6px;
                    h1 {font-size: $font-size-xl; font-weight: $font-weight-extrabold;}
                    h1+p {font-size: $font-size-m; color: $color-gray-middle;}
                    .product_price {
                        font-size: $font-size-l; font-weight: $font-weight-bold;
                        em {font-size: $font-size-s;}
                    }
                }
                .quantity {
                    p {font-weight: $font-weight-bold; margin-bottom: 6px}
                    .quantity_btn {
                        @include flex-row; align-items: center; justify-content: space-between; gap: 10px; padding: 6px 5px; border-radius: 35px;
                        background-color: $color-black;
                        #order_num {
                            background-color: $color-black; color: $color-white;
                            width: 20px; text-align: center; font: $font-size-ml;
                        }
                    }
                }
                .purchase_option {
                    width: 100%;
                    .purchase_box {
                        @include test-bg1;
                        border: 1px solid $color-gray-light; border-radius: 20px; width: 100%;
                        margin-bottom: 10px;
                        .purchase_onetime {
                            @include dot-check; background-position: center left 16px;
                            @include flex-row; justify-content: space-between; align-items: center;
                            padding: 22px 16px; border-bottom: 1px solid $color-gray-light;
                            label {
                                #purchase_onetime {display: none;}
                                p {transform:translate(23px,0); font-weight: $font-weight-medium;}
                            }
                            .ones_price {color: $color-gray-light;}
                        }
                        .purchase_subscribe {
                            padding: 22px 16px;
                            .subs_purchase_price {@include flex-row; justify-content: space-between; align-items: center; margin-bottom: 16px; color: $color-gray-light;
                                p {}
                                .sub_price {}
                            }
                            ul {
                                @include flex-col; gap: 10px;
                                li {
                                    @include dot-empty; 
                                    label {
                                        input {display: none;}
                                        p {transform:translate(23px,0)}
                                    }
                                }
                            }
                        }
                    }
                    .subs_policy {
                        a {border-bottom: 1px solid $color-black;}
                    }
                }
                .cart_wish_btn {
                    @include test-bg1;
                    @include flex-col; justify-content : center; align-items: center; gap: 10px;
                    width: 100%;
                    .btn {
                        @include cart_buy_btn;
                    }
                    .cart_btn {background-color: $color-black; color: $color-white;}
                    .wish_btn {
                        img {
                            display: inline-block;
                            translate: -5px 4px;
                        }
                    }
                }
                .info_list {
                    .summary {
                        .info_btn {
                            width: 100%; text-align: start;
                            font-size: $font-size-ml; padding: 16px 0;
                            border-top: 1px solid $color-gray-middle;
                        }
                        .contents_info {}
                    }
                }
            }
        }
    }
}